<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <style>
        /* global.css */

        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #b5b4b4;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
    
</head>

<body>

    <main class="min-h-screen">
        {% block content %}
        {% endblock content %}
    </main>

</body>
<script>
    window.addEventListener('load', function () {
        const chatContainer = document.querySelector('.chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight; // Scroll to the bottom
    });
</script>
{% block script %}
{% endblock script %}
</html>